<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>阿貴古早味</title>
<!-- 引入 Bootstrap CSS -->
<link rel="stylesheet" href="../public/reset.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- 引入 Bootstrap JavaScript 和 Popper.js (Bootstrap 需要它) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<link rel="stylesheet" href="../public/aqui_index.css">


</head>
<body class="body">
<div class="slideshow">
  <div class="bg_img bg1"></div>
  <div class="bg_img bg2"></div>
</div>
    <main class="container-fluid">
        <div class="row min-vh-100 g-0 bg_img_relat">
            <div class="col-1 col-md-1 logo">
                <div class="logo_word d-flex flex-column justify-content-start align-items-center ">
                    <span>阿</span>
                    <span>貴</span>
                    <span>古</span>
                    <span>早</span>
                    <span>味</span>
                </div>
            </div>
            
            <div class="col-6 col-md-2 d-flex flex-column justify-content-between align-items-center ">
                <nav class="d-flex flex-column align-items-center gap-5 w-100 ">
                    <ul class="logo list-unstyled text-center">
                        <li></li>
                    </ul>
                    <ul class="d-flex flex-column list-unstyled justify-content-evenly gap-5 text-center p-2 text-nowrap ">
                        <li class="mb-2"><a href="aqui_F/aqui_main_F_menu.html">菜　　單</a></li>
                        <li class="mb-2"><a href="aqui_F/aqui_main_F_news.html">最新消息</a></li>
                        <li class="mb-2"><a href="aqui_F/aqui_main_F_aquiInfo.html">關於阿貴</a></li>
                    </ul>
                </nav>
                <div class="d-flex align-items-center news">
                    <!-- NEWS 標題 -->
                    <span class="me-3 fw-bold">NEWS</span>


                    <!-- 跑馬燈容器 -->
                    <div class="overflow-hidden w-100">
                        <div class="carousel slide vertical" data-bs-ride="carousel" data-bs-interval="3000">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <p class="mb-0 news_item text-nowrap "><a href="aqui_F/aqui_main_F_news.html#01">2025.04 新品項 烏醋面 上架!!!</a></p>
                            </div>
                            <div class="carousel-item">
                                <p class="mb-0 news_item text-nowrap  "><a href="aqui_F/aqui_main_F_news.html#02">2024.12 新品項 串燒 上架!!!</a></p>
                            </div>
                            <div class="carousel-item">
                                <p class="mb-0 news_item text-nowrap "><a href="aqui_F/aqui_main_F_news.html#03">2024.09 阿貴搬家囉！</a></p>
                            </div>
                        </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        <!--背景 輪播-->
            <div class="col-7 col-md-9 bg p-0">
            </div>
        </div>
    </main>
    <script src="../public/aqui_index.js"></script>
</body>

</html>